<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workStudy.core.project.mapper.ManagerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.workStudy.core.project.entity.Manager">
        <id column="manager_id" property="managerId" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="project" property="project" />
        <result column="bus_lice" property="busLice" />
        <result column="credit" property="credit" />
        <result column="create_time" property="createTime" />
        <result column="state" property="state" />
    </resultMap>

</mapper>